requests
openai
langchain
langchain-openai
langchain-core
langchain-text-splitters
langchain-huggingface
langchain-community
sentence-transformers
weaviate-client
sentence_transformers
cohere
streamlit
requests
fastapi
uvicorn
python-dotenv
tiktoken